.container {
  padding: 10rem 0;
  position: relative;
  color: var(--logo-dark-clr-1);
}
.service_section {
  height: 100%;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.service_icons {
  font-size: 32px;
  color: var(--clr-white);
  position: absolute;
  top: 30%;
  left: 34%;
}
